.slide__pitures{
  background-color: var(--blue-light-color);
}
.slide__pitures-content{
  text-align: center;
  padding-bottom: 10px;
}

.slide__pitures-block {
  position: relative;
  overflow: hidden;  
  width: 100%;
  height: 800px;   
}

.sidebar {
  height: 800px;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.sidebar__content{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.sidebar__content p{
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.sidebar__content h5 {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;  
}

.list__house li{
  font-size: var(--font-size-mini);
}

.sidebar__btn{
  display: flex;
  justify-content: center;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.main-slide__btn-block{
  margin-bottom: 90px;
}

/* button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
} */

.slide__pitures-block .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 0;
}

.slide__pitures-block .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.slide__pitures-block .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
